.navbar{
    background: rgba(0, 0, 0, 0.391);
    box-shadow: 2px 2px 10px black;
    
}

.img{
    position: relative;
    width: 1670px;
    display: block;
    
}
.fondobanner{
    background: rgba(2, 1, 58, 0.933);
}