<!-- <div class="container">
  <h1 class="text text-center text-white">Atracciones</h1>
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <h3>Combate Laser</h3>
        <ul>
          <li>Capacidad: en la sala pueden participar hasta 10 personas.</li>
          <li>Altura mínima: 1.10 metros.</li>
          <li>Edad mínima: 7 años.</li>
          <li>Período de mantenimiento: semanal.</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-5">
        <img src="../../assets/img/combateLaser.jpg" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <img src="../../assets/img/montañaRusa.jpg" class="img-fluid">
      </div>
      <div class="col-sm-12 col-md-7">
        <h3>Montaña rusa "el dolar"</h3>
        <ul>
          <li>Capacidad: 7 asientos dobles, 14 personas en total.</li>
          <li>Altura mínima: 1.30 metros.</li>
          <li>Edad mínima: 13 años.</li>
          <li>Período de mantenimiento: diaria.</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <h3>La calesita “Tinkerbell”</h3>
        <ul>
          <li>Capacidad: 12</li>
          <li>Altura mínima: no hay.</li>
          <li>Edad mínima: 4 años.</li>
          <li>Período de mantenimiento: cada 15 días.</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-5">
        <img src="../../assets/img/calesita.jpg" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <img src="../../assets/img/trenFantasma.jpg" class="img-fluid">
      </div>
      <div class="col-sm-12 col-md-7">
        <h3>El tren fantasma</h3>
        <ul>
          <li>Capacidad: 2 personas por carro, 8 carros.</li>
          <li>Altura mínima: no hay.</li>
          <li>Edad mínima: 5 años.</li>
          <li>Período de mantenimiento: cada 15 días.</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <h3>Los autitos chocadores</h3>
        <ul>
          <li>Capacidad: 20</li>
          <li>Altura mínima: 1.20 metros.</li>
          <li>Edad mínima: 10 años.</li>
          <li>Período de mantenimiento: cada 15 días.</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-5">
        <img src="../../assets/img/autosChocadores.jpg" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <img src="../../assets/img/tazasGiratorias.jpg" class="img-fluid">
      </div>
      <div class="col-sm-12 col-md-7">
        <h3>Las tacitas giratorias</h3>
        <ul>
          <li>Capacidad: 12 ,Las tacitas giratorias.</li>
          <li>Altura mínima: 1.10 metros.</li>
          <li>Edad mínima: 10 años.</li>
          <li>Período de mantenimiento: cada 15 días.</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <h3>Telecombate</h3>
        <ul>
          <li>Capacidad: 12 , cada una con 2 asientos.</li>
          <li>Altura mínima: 1.20 metros.</li>
          <li>Edad mínima: 12 años.</li>
          <li>Período de mantenimiento: cada 7 dias.</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-5">
        <img src="../../assets/img/telecombate.jpg" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <img src="../../assets/img/barcoVikingo.jpg" class="img-fluid">
      </div>
      <div class="col-sm-12 col-md-7">
        <h3>Barco vikingo</h3>
        <ul>
          <li>Capacidad: 24.</li>
          <li>Altura mínima: 1.20 metros.</li>
          <li>Edad mínima: 11 años.</li>
          <li>Período de mantenimiento: cada 7 dias.</li>
        </ul>
      </div>

    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/barcoVikingo.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container" >

  <div class="row">
    
      <div *ngFor="let item of items"  >
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="container py-3 "  >
            <div class="card text-white cardA  animate__animated animate__fadeIn">
              <img class="card-img-top image img-fluid rounded" src="../../assets/img/{{item.Imagen}}" alt="" >
              <div class="card-body"  >
                <h4 class="card-title">{{item.Nombre}}</h4>
                <ul class="card-text text-left"  >
                  <li>Capacidad: {{item.Capacidad}}</li>
                  <li>Altura mínima: {{item.AlturaMin}} metros..</li>
                  <li>Edad mínima: {{item.EdadMin}} años.</li>
                  <li>Período de mantenimiento: {{item.Mantenimiento}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- (mouseover)="mostrar()" [@animacion]='estado' -->